* {
    box-sizing: border-box;
}


html {
    font-family: montserrat;
    line-height: 1.6;
    // color: $clr2;
}

body {
    font-size: rem(18px);
    margin: 0;
    // max-width: 1024px;
    margin: 0;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, NotoSans, Ubuntu,"Helvetica Neue", Arial, sans-serif;
}


img {
    width: 100%;
}

a,
a:hover,
a:focus,
a:active {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}