.task-details-container {
    .attachments-container {

        margin-inline-start: 15px;

        .img-container {
            border-radius: 3px;
            margin: 0 0 8px;
            margin-inline-start: 33px;
            min-height: 80px;
            overflow: hidden;
            position: relative;

            div {
                position: relative;
                margin-bottom: 20px;

                a {
                    background-color: #091e420a;
                    background-position: 50%;
                    background-repeat: no-repeat;
                    background-size: contain;
                    border-radius: 7px;
                    height: 80px;
                    left: 0;
                    margin-top: -40px;
                    position: absolute;
                    text-align: center;
                    text-decoration: none;
                    top: 50%;
                    width: 112px;
                    z-index: 1;
                }

                p {
                    box-sizing: border-box;
                    cursor: pointer;
                    margin: 0;
                    min-height: 80px;
                    padding: 8px 8px 8px 128px;
                    z-index: 0;

                    span {
                        font-size: 0.875rem;
                    }

                    .attachment-url {
                        word-wrap: break-word;
                        font-weight: 700;
                    }

                    .attachment-details {
                        color: #5e6c84;
                        margin-bottom: 5px;

                        .delete-attachment {
                            text-decoration: underline;

                            &:hover {
                                color: #172b4d;
                            }
                        }
                    }

                    .attachment-cover {
                        color: #5e6c84;
                        text-decoration: underline;

                        .icon {
                            font-size: 10px;
                            height: 20px;
                            line-height: 20px;
                            width: 20px;

                            svg {
                                transform: rotate(270deg);

                                &:after {
                                    content: ' ';
                                }
                            }
                        }

                    }
                }
            }
        }

        .attachments-title {
            h1 {
                font-size: 1.25rem;
            }

            margin-bottom: -13px;
            gap: 15px;
        }

    }

}