.task-details-container {

    .task-data-container {


        .members-container {
            float: left;

            color: #5e6c84;
            display: block;
            font-weight: 600;
            line-height: 16px;
            line-height: 20px;
            margin: 0 16px 0 0;


            & .member-avatar-img {
                cursor: pointer;
                overflow: hidden;
                width: 32px;
                padding: 2px 0 0 2px;
            }

            & p {
                font-size: 12px;
                margin: 0 8px 0 5px;
            }

            & .add-task-member {
                border: 1px solid #091e4205;
                border-radius: 50px;
                background-color: #42526e19;
                color: #7b7b7b;
                width: 32px;
                height: 32px;
                font-size: 2em;
                position: relative;
                top: 4px;
                right: -10px;
                display: flex;
                justify-content: center;
                align-items: center;
                font-weight: 200;



                &:hover {
                    background-color: #42526e21;
                }
            }
        }
    }
}