.task-details-container {

    .task-details-header {

        background-color: rgb(28, 24, 22);
        height: 160px;
        min-height: 160px;
        background-size: contain;
        background-origin: content-box;
        padding: 0px;
        box-sizing: border-box;
        background-position: center center;
    }
}