.task-checklist {

    .checklist-preview {
        margin-inline-start: 21px;
        margin-top: 35px;
        margin-bottom: 35px;

        button {
            align-items: center;
            background-color: #091e420a;
            border: none;
            border-radius: 3px;
            box-shadow: none;
            box-sizing: border-box;
            color: #172b4d;
            cursor: pointer;
            font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
            font-size: 14px;
            font-weight: 400;
            justify-content: center;
            line-height: 20px;
            padding: 6px 12px;
            text-decoration: none;
            transition-duration: 85ms;
            transition-property: background-color, border-color, box-shadow;
            transition-timing-function: ease;
            white-space: normal;

            &:hover {
                background-color: #091e4214;

            }
        }

        .checklist-title {
            height: 32px;
            padding: 8px 0;
            margin-bottom: 10px;

            div {
                // textarea {
                //     background: #0000;
                //     border-radius: 3px;
                //     box-shadow: none;
                //     font-size: 20px;
                //     font-weight: 600;
                //     height: 32px;
                //     line-height: 24px;
                //     margin: 0 -10px;
                //     min-height: 24px;
                //     padding: 4px 8px;
                // }

                h3 {
                    font-size: 16px;
                    line-height: 20px;
                }

                gap: 15px;
            }

        }


        .progress {
            position: relative;
            margin-bottom: 10px;

            span {
                color: #5e6c84;
                font-size: 11px;
                left: -6px;
                line-height: 10px;
                position: absolute;
                text-align: center;
                top: -1px;
                width: 32px;
            }

            .progress-bar {
                background: #091e4214;
                border-radius: 4px;
                clear: both;
                height: 8px;
                margin: 0 0 0 40px;
                overflow: hidden;
                position: relative;

                .progress-bar-current {
                    background: #5ba4cf;
                    bottom: 0;
                    left: 0;
                    position: absolute;
                    top: 0;
                    transition-duration: .14s;
                    transition-property: width, background;
                    transition-timing-function: ease-in;
                }
            }
        }

        .add-checklist {

            margin-top: 8px;
            margin-left: 40px;


            textarea {
                overflow: hidden;
                overflow-wrap: break-word;
                height: 56px;
                background-color: #fff;
                box-shadow: inset 0 0 0 2px #0079bf;
                color: #172b4d;
                cursor: text;
                float: none;
                resize: vertical;
                width: 100%;
                margin: 4px 0 0;
                text-align: initial;
                text-decoration: none;
                margin-bottom: 10px;
                font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                font-size: 14px;
                font-weight: 400;
            }

            button {
                margin-inline-start: 43px;
                align-items: center;
                background-color: #091e420a;
                border: none;
                border-radius: 3px;
                box-shadow: none;
                box-sizing: border-box;
                color: #172b4d;
                cursor: pointer;
                display: inline-flex;
                font-size: 14px;
                font-weight: 400;
                justify-content: center;
                line-height: 20px;
                padding: 6px 12px;
                text-decoration: none;
                white-space: normal;
                margin: 0 4px 0 0;
                transition: all .5s;
            }

            .add-btn {
                background-color: #0079bf;
                border: none;
                box-shadow: none;
                color: #fff;
                margin-inline-end: 5px;

                &:hover {
                    background-color: #026aa7;
                    border: none;
                    box-shadow: none;
                    color: #fff;
                }
            }

            .cancel-btn {
                background-color: initial;
                border: none;
                box-shadow: none;

                &:hover {
                    background-color: var(--ds-background-neutral-hovered, #091e4214);
                    border: none;
                    box-shadow: none;
                }
            }
        }

        .todo-list {
            margin-inline-start: -11px;

            .todo-preview {
                cursor: pointer;

                &:hover {
                    background-color: #091e420a;
                }

                .todo-menu {
                    font-size: 16px;
                    height: 22px;
                    line-height: 20px;
                    width: 20px;
                    border-radius: 3px;
                    padding: 2px;

                    &:hover {
                        background-color: #091e4214;
                    }
                }

                svg {
                    height: 20px;
                    margin-inline-end: 3px;
                }

                .todo-title {
                    color: #172b4d;
                    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;

                    &.done {
                        text-decoration: line-through;
                    }
                }
            }
        }
    }
}