.task-details-modal {
    .task-details-title {
        margin: 22px 40px 8px 61px;
        position: relative;
        flex-wrap: wrap;

        textarea {
            font-size: 1.25rem;
            background-color: transparent;
            height: 33px;
            line-height: 16px;
            width: 100%;
            margin-inline-end: 10px;
            margin-inline-start: -16px;

            &:focus {
                background-color: white;
            }
        }

        span {
            left: -40px;
            position: absolute;
            top: 2px;
            font-size: 1.5em;
        }

        p.mini-title {
            color: #5e6c84;
            display: inline-block;
            margin: 4px 8px 4px 2px;
            background-color: transparent;
        }

    }
}