.task-details-modal {
    .task-details-title {
        position: relative;
        flex-wrap: wrap;
        margin: 17px 40px 20px 60px;
        min-height: 32px;
        z-index: 1;

        textarea {
            width: 100%;
            background: #0000;
            border-radius: 3px;
            box-shadow: none;
            font-size: 20px;
            font-weight: 600;
            height: 32px;
            line-height: 24px;
            margin: 0 -10px;
            min-height: 24px;
            padding: 4px 4px;
            
            resize: none;


            &:focus {
                background-color: white;
                box-shadow: inset 0 0 0 2px #0079bf;
            }
        }

        span {
            left: -40px;
            position: absolute;
            top: 5px;
            font-size: 1.5em;
        }

        p.mini-title {
            color: #5e6c84;
            display: inline-block;
            margin: 0 0 0 -5px;
            background-color: transparent;
        }

    }
}