.task-preview {

    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #c0c6d0;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    min-height: 20px;
    position: relative;
    text-decoration: none;

    .edit-btn {
        position: absolute;
        border: none;
        font-size: 11px;
        width: 24px;
        height: 24px;
        background-color: transparent;
        background-clip: padding-box;
        background-origin: initial;
        opacity: .8;
        padding: 4px;
        position: absolute;
        right: 2px;
        top: 2px;
        z-index: 20;
        border-radius: 3px;
        visibility: hidden;

        &:hover {
            background-color: #e7e8eb;

        }

    }

    @media (min-width:650px) {

        &:hover {
            background-color: #f4f5f7;

            .edit-btn {
                color: #172b4d;
                visibility: visible;
            }
        }
    }


    .task-cover {
        border-radius: 3px 3px 0 0;
        background-color: #443d34;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 5px;

    }

    .task-content {
        overflow: hidden;
        padding: 8px 8px 6px 6px;
        position: relative;
        z-index: 10;

        p {
            // color: #172b4d;
            margin: 0;
            margin-bottom: 4px;
            font-size: 14px;
            // color: #172b4d
        }

        .labels-container {
            display: flex;
            gap: 3px;
            flex-wrap: wrap;
            // margin-block-end: 4px;
            margin-bottom: 4px;

            .label-btn {
                min-width: 40px;
                max-width: 100%;
                height: 8px;
                border-radius: 4px;
                padding: 0 8px;
                display: inline-block;
                position: relative;
                box-sizing: border-box;
                line-height: 16px;
                color: #172b4d;
                font-size: 12px;
                font-weight: 400;
                text-align: left;
                vertical-align: middle;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: 0.6s;

                &.open {
                    padding-left: 15px;
                    line-height: 14px;
                    font-size: 12px;
                    min-width: 56px;
                    height: 16px;
                    transition: 0.6s;
                }


            }
        }

        &:hover {
            text-decoration: none;
        }



        .avatars-container {
            flex-direction: row-reverse;
        }

        .task-user-container {
            flex-direction: row-reverse;
            align-self: flex-end;
            float: right;
            margin: 0 -2px 0 0;
            flex-wrap: nowrap;
            flex: 1;


            & .task-users {
                object-fit: cover;
                border-radius: 25px;
                width: 30px;
                height: 30px;
            }
        }

        .task-info-container {

            flex-wrap: wrap;

            .task-badges {
                // float: left;
                // margin-left: 3px;
                // margin-bottom: 10px;
                position: relative;
                gap: 1px;
                max-width: 100%;



                .date-badge {
                    border-radius: 3px;
                    color: #fff;
                    font-size: 12px;
                    font-weight: 400;
                    line-height: 20px;
                    min-height: 20px;
                    padding: 1px 6px 3px 3px;
                    position: relative;
                    display: inline-flex;
                    vertical-align: top;
                    margin-right: 4px;
                    gap: 2px;
                    background-color: inherit;

                    .date-checkbox {
                        color: white;
                        opacity: 0;

                    }

                    .clock-icon {
                        font-size: 17px;
                        position: absolute;
                        top: 3.5px;
                        left: 5px;
                    }

                    &:hover {
                        .clock-icon {
                            display: none;
                        }

                        .date-checkbox {
                            opacity: 1;
                        }
                    }
                }

                &.comment {
                    color: #5e6c84;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    width: 20px;
                    margin-bottom: 5px;
                    margin-inline-end: 10px;
                    gap: 5px;
                    position: relative;
                    top: 3px;
                    padding-inline-start: 4px;

                    p {
                        font-size: 13px;
                    }
                }

                &.attached {
                    color: #5e6c84;
                    font-size: 12px;
                    height: 20px;
                    line-height: 20px;
                    width: 20px;
                    margin-bottom: 5px;
                    margin-inline-end: 10px;
                    gap: 5px;
                    position: relative;
                    top: 3px;
                    padding-inline-start: 4px;

                    p {
                        font-size: 13px;
                    }
                }

                &.checklist {
                    color: #5e6c84;
                    font-size: 12px;
                    border-radius: 3px;
                    max-width: 100%;
                    margin-bottom: 5px;
                    margin-inline-start: 2px;
                    padding: 0px 5px 0px 5px;
                    position: relative;
                    gap: 5px;
                    top: 3px;

                    &.done {
                        background-color: #61bd4f;
                        color: #fff;
                        // margin: 0 4px 4px 0;
                    }

                    .checklist-icon {
                        font-size: 0.875rem;
                        ;
                        // height: 20px;
                        // line-height: 20px;
                        // width: 20px;
                    }

                    .todo-num {
                        font-size: 0.8rem;
                        position: relative;
                        top: 1px;
                    }

                    // & p{
                    //     margin: 0;
                    // }
                }
            }
        }
    }

    .mini-task {
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3px 3px 0 0;
        // text-align: end;
        min-height: 56px;
        padding: 5px 5px 5px 5px;
        position: relative;
        color: #172b4d;


        .mini-task-title {
            align-self: flex-end;
            width: 100%;
            position: relative;
            z-index: 10;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            word-wrap: break-word;


            .mini-task-title {
                p {
                    padding: 0px 8px 0px 8px;
                }

            }
        }


        .img-bg {
            background: linear-gradient(180deg, #ffffff80, #fff);
            // display: block;
            overflow: visible;
            align-self: flex-end;
            width: 100%;
            position: absolute;
            bottom: -4px;
            left: 0px;
            font-size: 16px;
            font-weight: 500;
            line-height: 20px;
            margin-bottom: 0;
            padding-bottom: 8px;
            margin: 0 0 4px;
            padding-inline-start: 7px;

            &::before {
                background: linear-gradient(180deg, #fff0, #ffffff80);
                content: "";
                height: 32px;
                left: 0;
                mix-blend-mode: normal;
                position: absolute;
                right: 0;
                top: -32px;
                width: 100%;

            }
        }
    }
}