.task-preview {

    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #c0c6d0;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    min-height: 20px;
    position: relative;
    text-decoration: none;



    .task-cover {
        border-radius: 3px 3px 0 0;
        background-color: #443d34;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-bottom: 5px;

    }

    .task-content {
        overflow: hidden;
        padding: 6px 8px 6px 6px;
        position: relative;
        z-index: 10;

        p {
            margin: 0;
            font-size: 14px;
        }

        .labels-container {
            display: flex;
            gap: 3px;
            flex-wrap: wrap;
            margin-block-end: 4px;
            margin-bottom: 4px;

            .label-btn {
                min-width: 40px;
                max-width: 100%;
                height: 8px;
                border-radius: 4px;
                padding: 0 8px;
                display: inline-block;
                position: relative;
                box-sizing: border-box;
                line-height: 16px;
                color: #172b4d;
                font-size: 12px;
                font-weight: 400;
                text-align: left;
                vertical-align: middle;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                transition: 0.6s;

                &.open {
                    padding-left: 15px;
                    line-height: 14px;
                    font-size: 12px;
                    min-width: 56px;
                    height: 16px;
                    transition: 0.6s;
                }


            }
        }

        &:hover {
            text-decoration: none;
        }



        .avatars-container {
            flex-direction: row-reverse;
        }

        .task-user-container {
            flex-direction: row-reverse;
            float: right;
            margin: 0 -2px 0 0;

            & .task-users {
                object-fit: cover;
                border-radius: 25px;
                width: 30px;
                height: 30px;


            }
        }

        .task-badges {
            // float: left;
            // margin-left: 3px;
            // margin-bottom: 10px;
            max-width: 100%;

            .date-badge {
                border-radius: 3px;
                color: #fff;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                min-height: 20px;
                padding: 3px;
                position: relative;
                display: inline-flex;
                vertical-align: top;
                margin-right: 4px;

                .date-checkbox {
                    color: #443d34;
                    opacity: 0;

                }

                .clock-icon {
                    font-size: 17px;
                    position: absolute;
                    top: 4.5px;
                    left: 4px;
                }

                &:hover {
                    .clock-icon {
                        display: none;
                    }

                    .date-checkbox {
                        opacity: 1;
                    }
                }
            }

            &.attached {
                color: #5e6c84;
                font-size: 12px;
                height: 20px;
                line-height: 20px;
                width: 20px;
                margin-bottom: 5px;
                margin-inline-end: 5px;
            }

            &.checklist {
                color: #5e6c84;
                font-size: 12px;
                height: 20px;
                line-height: 20px;
                width: 20px;
                margin-bottom: 5px;
                position: relative;

                &.done {
                    background-color: #61bd4f;
                    border-radius: 3px;
                    color: #fff;
                    margin: 0 4px 4px 0;
                    max-width: 100%;
                    min-height: 20px;
                    overflow: hidden;
                    padding: 2px;
                    padding-inline-end: 7px;
                    position: relative;
                    text-decoration: none;
                    text-overflow: ellipsis;
                    vertical-align: top;
                }

                span {
                    // color: #5e6c84;
                    margin-inline-end: 5px;
                    font-size: 0.875rem;
                    height: 20px;
                    line-height: 20px;
                    width: 20px;
                    position: relative;
                    top: 3px;
                    left: 0px;
                }
            }
        }
    }

    .mini-task {
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3px 3px 0 0;
        // text-align: end;
        min-height: 56px;
        padding: 5px;
        position: relative;

        p {
            position: absolute;
            bottom: -17px;
            left: 0px;
            padding: 8px;
        }

        .img-bg {
            background: linear-gradient(180deg, #ffffff80, #fff);
            // display: block;
            overflow: visible;
            align-self: flex-end;
            width: 100%;

            &::before {
                background: linear-gradient(180deg, #fff0, #ffffff80);
                content: "";
                height: 32px;
                left: 0;
                mix-blend-mode: normal;
                position: absolute;
                right: 0;
                top: -32px;
                width: 100%;
            }
        }
    }
}