.add-features-modal {
    .date-picker-container {
        display: flex;
        justify-content: center;
        align-items: center;

        .MuiPickersStaticWrapper-staticWrapperRoot {
            min-width: 304px;

            .MuiPickersBasePicker-pickerView {
                min-width: 304px;

                .MuiPickersCalendarHeader-dayLabel {
                    font-size: 14px;
                }

                .MuiPickersDay-daySelected {
                    p {
                        color: #fff;
                    }
                }
            }
        }
    }
}