.member-avatar {
    background-color: #026aa7;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0 0 0 -2px;
    color: snow;

    .member-avatar-img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        border-radius: 50%;

    }

    &:hover {
        opacity: 0.8;
    }

    .log-sig {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -2px;
        font-size: 2.1em;
        cursor: pointer;
    }
}