.member-container{
    gap: 5px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 2px;
    padding: 4px;
    cursor: pointer;

    & p{
        font-size: 14px;
        font-family: var(--base);
    }


    &:hover{
        background-color: #091e420a;
    }
}