.member-container{
    gap: 5px;
    border-radius: 3px;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin-bottom: 2px;
    padding: 4px;

    &:hover{
        background-color: #091e420a;
    }
}