.member-avatar {
    margin: 2px -2px;
    margin-inline-end: -5px;
    color: rgb(38, 38, 38);
    align-items: center;
    padding: 0 0 0 4px;
    cursor: pointer;

    .member-avatar-img {
        object-fit: cover;
        width: 32px;
        height: 32px;
        border-radius: 50%;

    }

    &:hover {
        opacity: 0.8;
    }

    & p{
        margin: 0;
        font-family: var(--base);
    }
    
    & .board-list-pre{
        margin-inline-start: 10px;
    }
    
    & .picker-pre{
        display: flex;
        margin-inline-start: 10px;
    }

    .log-sig {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: -2px;
        font-size: 2.1em;
        cursor: pointer;
    }

    & span{
        flex: 1;
    }

    & svg{
        margin-inline-end: 11px;
    }
}