.task-preview {

    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 0 #c0c6d0;
    cursor: pointer;
    display: block;
    margin-bottom: 8px;
    min-height: 20px;
    position: relative;
    padding: 6px 8px 2px;
    text-decoration: none;

    .labels-container {
        display: flex;

        &>* {
            width: 10px;
            height: 40px;
        }
    }

    &:hover {
        text-decoration: none;
    }

    p {
        margin: 0;
    }
}