.board-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    & ::-webkit-scrollbar {

        height: 12px;
    }

    .board {
        position: relative;
        flex-grow: 1;

        .board-main-content {
            display: flex;
            align-items: flex-start;
            flex: 1;
            margin-bottom: 8px;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            padding-bottom: 8px;
            box-sizing: border-box;
            background-size: cover;
            padding: 0 13px 8px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            top: 0;




            .groups-main-container {
                height: 100%;
                display: flex;
                align-items: start;
                margin-bottom: 8px;
            }
        }
    }
}