.board-list {
    margin-bottom: 20px; 
    padding: 10px;  

    h3 {
        padding-inline-start: 8px;
    }

    .board-list-container {

        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        .create-board-preview {
            cursor: pointer;
            border-radius: 5px;
            width: 300px;
            height: 95px;
            background-color: #091e420a;
            padding: 8px;
            position: relative;
            background-size: cover;
            z-index: 20;

            & h1 {
                margin: 0;
                margin-inline-start: 5px;
                font-weight: 300;
                line-height: 1em;
                // color: whitesmoke;
                // text-shadow: 0px 0px 4px #464444;
            }
        }
    }
}