.board-header {
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    margin-top: 5px;
    margin-bottom: 10px;
    height: 35px;

    span {
        margin: 0 0 0 6px;
        display: flex;
        align-items: center;
        gap: 15px;
        color: white;

        .board-title {
            margin-inline-start: 8px;
        }

        .starred {
            background-color: rgba(255, 255, 255, 0.2392156863);
            border-radius: 3px;
            /* color: var(--dynamic-text-color, #fff); */
            cursor: pointer;
            float: left;
            font-size: 17px;
            height: 32px;
            line-height: 32px;
            max-width: 400px;
            overflow: hidden;
            padding: 7px;
            position: relative;
            text-decoration: none;
            text-overflow: ellipsis;
            margin-inline-end: -7px;
            transition: all .4s;

            &:hover {
                color: #f2d600;
                background-color: rgba(255, 255, 255, 0.349);
                // transform: scale(1.2);
            }

            &.true {
                color: gold;

            }
        }
    }

    p {
        color: rgba(255, 255, 255, 0.368);
        margin-inline-end: -7px;
    }

    .show-menu-btn {
        background-color: #ffffff3d;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        margin: 0 8px 4px 0;
        overflow: hidden;
        position: relative;
        padding-left: 32px;
        padding-right: 10px;

        svg {
            position: absolute;
            top: 9px;
            font-size: 17px;
            left: 7px;
        }


        &:hover {
            background-color: hsla(0, 0%, 100%, .459)
        }
    }

    .member-avatar {
        margin-inline-end: -1px;
        cursor: pointer;
    }
}