.board-header {
    display: flex;
    align-items: center;
    background-color: transparent;
    justify-content: space-between;
    margin: 5px 0;

    span {
        margin: 0 0 0 6px;
        display: flex;
        align-items: center;
        gap: 15px;
        color: white;
    }

    .show-menu-btn {
        background-color: #ffffff3d;
        border: none;
        border-radius: 3px;
        color: #fff;
        font-size: 14px;
        height: 32px;
        line-height: 32px;
        margin: 0 8px 4px 0;
        overflow: hidden;
        position: relative;
        padding-left: 32px;
        padding-right: 10px;

        svg {
            position: absolute;
            top: 9px;
            font-size: 17px;
            left: 7px;
        }

        &:hover {
            background-color: hsla(0, 0%, 100%, .459)
        }
    }
}