.board-menu-modal {
    bottom: 0;
    position: fixed;
    right: 0px;
    top: 45px;
    background-color: #f4f5f7;
    transition-duration: .1s;
    transition-property: transform, width;
    transition-timing-function: ease-in;
    width: 339px;
    z-index: 30;
    padding: 0 6px 0 12px;
    transform: translateX(400px);
    box-shadow: 0px 12px 24px -6px #091e4240, 0 0 0 1px #091e4214;
    display: flex;
    flex-direction: column;

    &.open {
        position: absolute;
        transform: translate(0, 0);
    }

    hr {
        margin-top: 0;
        background-color: #091e4221;
        border: 0;
        height: 1px;
        padding: 0;
        width: 100%
    }

    h3 {
        font-size: 16px;
        color: #172b4d;
        margin: 8px;
        line-height: 20px;
        margin: 0;
        font-weight: 500;

        &.align-center {
            text-align: center;
        }

        &.big {
            margin-top: 16px;
            margin-bottom: 9px;
            font-size: 20px;
            line-height: 24px;
        }
    }

    h4 {
        color: #5e6c84;
        font-size: 12px;
        font-weight: 600;
        line-height: 16px;
        margin-top: 16px;
        margin-bottom: 8px;
    }

    .filter-wrapper {
        flex: 1;
        padding-right: 8px;
        overflow-y: auto;

        &::-webkit-scrollbar {
            width: 8px;
        }
    }

    .menu-modal-header {
        height: 48px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0;


        span {
            color: #172b4d;
            font-size: 1.4375rem;
            cursor: pointer;
            margin-top: 5px;

            &:hover {
                color: #091e42;
            }
        }
    }


    .board-menu-nav-btn {
        display: flex;
        padding: 6px;
        justify-content: flex-start;
        align-items: center;
        gap: 15px;
        margin: 4px 0;
        border-radius: 3px;

        &:hover {
            background-color: #dfe2eb;
        }

        .icon-container {
            padding: 2px 4px 0 2px;
            font-size: 16px;
        }

        span {
            font-size: 14px;
            font-weight: 500;
        }

        .menu-background-display {
            background-position: 50%;
            background-size: cover;
            border-radius: 3px;
            height: 20px;
            width: 20px;


        }
    }

    .labels-container {
        display: flex;
        flex-direction: column;
        gap: 3px;
        list-style: none;
        padding: 0;

        p {
            color: #5e6c84;
            font-size: 11px;
            line-height: 14px;
            margin-top: 0;
            margin-bottom: 4px;
        }

        .label-container label {
            list-style: none;
            position: relative;
            display: flex;
            margin-bottom: 10px;





            .member-container {
                flex-grow: 1;

                section {
                    margin-right: 6px;
                }

                p {
                    color: #172b4d;
                    font-size: 14px;
                    font-weight: normal;
                    line-height: 20px;
                }
            }


            .label-display-btn {
                display: inline-block;
                margin-bottom: 0;
                border-radius: 3px;
                padding: 0 12px;
                max-width: 100%;
                min-width: 48px;
                height: 32px;
                line-height: 32px;
                color: #172b4d;
                font-size: 14px;
                font-weight: 400;
                text-align: left;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                flex: 1;

                span {
                    font-size: 22px;
                }

            }
        }
    }

    .search-photos-container {
        position: relative;

        .filter-text-input {
            padding-left: 32px;
        }

        .icon-container {
            left: 10px;
            position: absolute;
            top: 9px;
            color: #42526e;
            font-size: 13px;
        }
    }

    .filter-text-input {
        outline: none;
        border: none;
        color: #172b4d;
        font-size: 14px;
        line-height: 20px;
        font-weight: 400;
        transition-property: background-color, border-color, box-shadow;
        transition-duration: 85ms;
        transition-timing-function: ease;
        border-radius: 3px;
        padding: 8px 12px;
        box-shadow: inset 0 0 0 2px #dfe1e6;
        background-color: #fafbfc;
        width: 100%;
        margin-bottom: 8px;



        &:focus {
            box-shadow: inset 0 0 0 2px #0079BF;
        }

        &:hover:not(:focus) {
            background-color: lighten(#dfe1e6, 5%);
        }
    }


    .background-btns-container {
        display: flex;
        padding: 12px 2px 0 2px;
        gap: 4px;
        margin-bottom: 15px;

        .background-btn {
            flex-basis: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;



            img {

                border-radius: 8px;
                height: 96px;
                margin-bottom: 8px;
                width: 100%;
                cursor: pointer;
                &:hover{
                    opacity: .7;
                }
            }

            p {
                margin: 0;
                font-size: 14px;
                font-weight: 400;
                line-height: 20px
            }


        }
    }

    .backgrounds-wrapper {
        flex: 1;
        overflow-y: auto;

        .backgrounds-container {
            width: 100%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 8px;
            padding-right: 4px;

            div,
            label {
                background-size: cover;
                border-radius: 8px;
                height: 96px;
                width: 100%;
                cursor: pointer;
                float: left;
                padding: 0 4px;
                position: relative;
                text-align: center;
                transition: 0.3s;

                &.attach-image {
                    background-color: #091e420a;
                    border-radius: 8px;
                    height: 96px;
                    margin-bottom: 8px;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #5e6c84;

                    &:hover {
                        background-color: #091e4218;
                    }
                }


                .creator-link {
                    background: #00000080;
                    border-radius: 0 0 2px 2px;
                    bottom: 0;
                    // box-sizing: border-box;
                    color: #dfe1e6;
                    cursor: pointer;
                    font-size: 12px;
                    height: 20px;
                    left: 0;
                    line-height: 16px;
                    opacity: 0;
                    overflow: hidden;
                    padding: 2px 4px;
                    position: absolute;
                    text-align: left;
                    text-decoration: underline;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                    width: 100%;
                    z-index: 100;
                }

                &:hover {
                    opacity: 0.7;
                    transition: 0.3s;

                    .creator-link {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .activities-title {
        gap: 10px;
        margin-bottom: 20px;
        margin-top: 20px;
        margin-inline-start: 8px;
    }

    .menu-activities-wrapper {
        height: 100%;

        .board-menu-activities {
            overflow-y: hidden;


            .activity-container {
                gap: 10px;
                margin-bottom: 10px;

                .profile-img {
                    height: 32px;
                    width: 32px;
                }

                .activity {
                    span {
                        font-weight: 900;
                    }

                    a {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}