.home-container {
    background-image: linear-gradient(rgba(225, 219, 255, 0.4), #ffffff);

    .home-header-container {
        position: fixed;
        z-index: 10;
        top: 0;
        width: 100vw;
        height: 60px;
        background-color: #ffffff;
        box-shadow: 0px 0px 0px 0px #00000029;
        transition: 0.6s box-shadow ease 0.1s;

        &:hover {
            box-shadow: 0px 1px 20px 0px #00000029;
        }

        .home-logo {
            gap: 8px;
            align-self: flex-start;
            padding: 0.5rem 1.5rem;

            & .jello-logo {
                font-size: 1.5em;
                color: #0052cc;
            }

            & .jello-logo-text {
                font-family: fira-reg;
                font-weight: bold;
                font-size: 1.65em;
                margin: 0;
            }

        }

        & span {
            flex: 1;
        }

        .home-login {
            padding: 0.5rem 1.5rem;
            font-family: var(--base);
            font-size: 1.2em;
            font-weight: 400;
        }

        .home-signup {
            font-size: 1.2em;
            color: #ffffff;
            background-color: #0065ff;
            font-family: fira-reg;
            height: 100%;
            padding: 0.5rem 2rem ;
        }

        @media (max-width: 425px) {

            & .jello-logo {
                font-size: 1em;
            }

            & .jello-logo-text {
                font-size: 1.15em;
            }

            .home-login {
                font-size: 0.855em;
            }

            .home-signup {
                font-size: 0.855em;
            }
        }
    }

    .hero-container {
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
        max-width: 1140px;
        width: 100%;

        .hero-flex-container {
            margin-top: 45px;
            margin-left: 1.5rem;
            margin-right: 1.5rem;

            & .hero-img {
                display: none;
            }

            .hero-content {
                text-align: center;

                & h1 {
                    font-size: 2rem;
                    line-height: 1em;
                    margin-bottom: 0.5rem;
                }

                & p {
                    font-size: 1rem;
                }

                & .hero-demo-btn {
                    max-width: 125px;
                    height: 35px;
                    font-weight: 500;
                    background-color: #0065ff;
                    border-radius: 3px;
                    color: #fff;
                    font-family: var(--base);
                    align-self: center;
                    letter-spacing: 1px;
                    margin-right: 15px;
                    padding: 0.7rem 1rem 0.8rem;
                    transition: background-color .15s ease-in;

                    &:hover {
                        background-color: #0056d9;
                        cursor: pointer;
                    }
                }
            }
        }



        @media (min-width: 1000px) {

            .hero-flex-container {
                -webkit-box-align: center;
                align-items: center;
                -webkit-box-pack: start;
                justify-content: space-between;
                display: flex;
                margin-left: 1.5rem;
                margin-right: 10rem;


                .hero-img {
                    display: block;
                    width: auto;
                    max-height: 600px;
                    margin-left: -8.33333%;
                    margin-bottom: 15px;
                    left: 16.6667%;
                    flex: 0 0 auto;
                    padding: 8rem 1rem 1rem;
                    position: relative;
                    scroll-margin-top: 72px;
                    text-align: center;

                }

                .hero-content {
                    text-align: start;
                    align-items: flex-start;
                    justify-content: flex-start;
                    display: flex;
                    flex-wrap: wrap;
                    margin-top: 10px;
                    margin-left: -1rem;
                    margin-right: -1rem;


                    & h1 {
                        font-size: 2.75rem;
                        line-height: 1.25;
                        font-family: "Charlie Display", sans-serif;
                        font-weight: 600;
                        margin-bottom: 0.5rem;
                        margin-top: 94px;
                    }

                    & p {
                        display: block;
                        margin-block-start: 1em;
                        margin-block-end: 1em;
                        margin-inline-start: 0px;
                        margin-inline-end: 0px;
                        font-size: 1.25rem;
                    }

                    & .hero-demo-btn {
                        min-width: 150px;
                        height: 45px;
                        display: flex;
                        justify-content: center;
                        align-self: flex-start;
                    }

                }
            }


        }
    }

    .board-example-container {

        .board-example-txt {

            padding: 3rem 1rem 1rem;
            position: relative;
            scroll-margin-top: 72px;
            text-align: center;
            width: 100%;
            font-family: var(--base);

            & h1 {
                font-size: 2.25rem;
                line-height: 1.33333;
                font-weight: 500;
                margin-bottom: 0.5rem;
                margin-top: 0px;
            }

            & p {
                display: block;
                font-size: 1.25em;
                font-weight: 400;
                margin-bottom: 1.5rem;
                margin-top: 0px;
                margin-bottom: 24px;
                margin-inline-start: 0px;
                margin-inline-end: 0px;
            }

        }

        .board-example-img {
            box-shadow: 0px 4px 18px 4px #00000047;
            max-width: 850px;
            margin: auto;
        }
    }

    .home-footer-container {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        background-color: #172b4d;
        margin-top: 45px;
        color: #fff;
        box-shadow: 0 0 black;

        .home-logo-footer {
            display: flex;
            align-items: center;
            align-self: center;
            gap: 15px;
            margin-top: 45px;
            font-family: fira-reg;
            font-size: 2em;
        }

        & h1 {
            margin-top: 0;
            margin-bottom: 0px;
            background: #FFFFFF;
            background: linear-gradient(to bottom, #FFFFFF 50%, #172b4d 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

        & hr {
            background-color: rgba(227, 227, 227, 0.45);
            border: 0;
            height: 1px;
            margin: 25px 0;
            padding: 0;
            width: 100%;
        }
    }
}