.home-container{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient( rgba(225, 219, 255, 0.4), #ffffff);

    .home-header-container {
        background-color: #ffffff;
        box-shadow: 0px 0px 0px 0px #00000029;
        transition: 0.5s box-shadow;
        
        &:hover{
            box-shadow: 0px 1px 20px 0px #00000029;
        }

        .home-logo {
            gap: 5px;
            align-self: flex-start;
            padding: 0.5rem 1.5rem;
            
            & .jello-logo{
                font-size: 1em;
                color: #0052cc;
                // margin: 0 5px;
            }
            
            & .jello-logo-text{
                font-family: fira-reg;
                font-weight: bold;
                font-size: 1.2rem;
                margin: 0;
            }
        }

        & span{
            flex: 1;
        }
        
        .home-login {
            padding: 0.5rem 1.5rem;
            font-family: var(--base);
            font-size: 0.80em;
        }
        
        .home-signup {
            font-size: 0.75em;
            color: #ffffff;
            background-color: #0065ff;
            font-family: fira-reg;
            height: 2.9rem;
            padding: 0.5rem 1.5rem;
        }
    }

    .hero-container{
        padding: 100px 40px;   
        justify-content: center;
        margin: auto;
        max-width: 720px;  
        
        & h1{
            font-family: fira-reg;
            font-weight: 600;
            line-height: 1;   
            margin-bottom: 0;
            font-size: 1.75em;
        }
        .hero-img{
            width: auto;
            max-height: 350px;
        }
        
        & p{
            font-family: fira-reg;
        }

        & .hero-demo-btn{
            width: 35%;
            height: 30px;
            justify-content: center;
            color: #ffffff;
            font-family: fira-reg;
            background-color: #0065ff;
            border-radius: 3px;
        }
    }
}