.task-details-container {
    // position: relative;
    background-color: #000000a3;
    bottom: 0;
    color: #172b4d;
    font-size: 14px;
    font-weight: 400;
    left: 0;
    line-height: 20px;
    overflow-y: auto;
    padding: 50px 10px 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 15;
}

.task-details-content {

    background-color: #f5f5f5;
    display: flex;
    margin: auto;
    max-width: 48rem;
    min-height: 600px;
    position: relative;
    z-index: 20;
    flex-direction: column;
    flex-grow: 3;

    textarea {
        background-color: hsla(0, 0%, 100%, 0);
        font-size: 1.25rem;
        font-weight: 600;
        height: 2.05rem;
        line-height: 1.5rem;
        margin: -4px -8px;
        padding: 4px 8px;
        width: 90%;
        border: none;
        border-radius: 3px;
        box-shadow: none;
        color: #172b4d;
        display: block;
        outline: none;
        overflow: hidden;
        overflow-wrap: break-word;
        resize: none;
        text-decoration: none;

        &:focus {
            box-shadow: inset 0 0 0 2px #0079bf;
        }
    }

    span {
        font-size: 2em;
    }

    .task-details-title {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-inline-start: 20px;
        margin-top: 15px;
        margin-bottom: 50px;
    }


        .details-side-bar {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            margin-left: 0;
            max-width: 240px;
            min-width: 200px;
            float: right;
        }

    .description-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-inline-start: 17px;
        margin-bottom: 50px;

        textarea {
            background-color: #091e420a;
            margin-inline-start: 43px;
        }

    }

    .description-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 15px;

        h1 {

            font-size: 1.25rem;
        }
    }

    .attachments-container {

        margin-inline-start: 15px;

        .attachments-title {
            h1 {
                font-size: 1.25rem;
            }

            margin-bottom: 50px;
            gap: 15px;
        }

    }

    .activities-container {
        margin-inline-start: 15px;

        .activities-title {
            h1 {
                font-size: 1.25rem;
            }

            gap: 15px;
        }

        textarea {
            font-size: 1rem;
            background-color: #fff;
            border: none;
            border-radius: 3px;
            box-shadow: none;
            box-shadow: inset 0 0 0 1px rgb(9 30 66 / 13%);
            box-sizing: content-box;
            box-sizing: initial;
            flex: 1 1;
            height: 20px;
            min-height: 20px;
            overflow: hidden;
            overflow-wrap: break-word;
            padding: 8px 12px;
            resize: none;

            &:focus {
                box-shadow: inset 0 0 0 1px rgb(194 188 188);
            }
        }
    }

    .task-btn {
        flex-grow: 1;
    }
}