.workspace {
    margin-top: 30px;
    display: grid;
    grid-template-columns:
        minmax(50px, 1fr) minmax(auto, 800px) minmax(50px, 1fr);


    >* {
        grid-column: 2;
    }
}

.workspace-banner{
    display: flex;    
    justify-content: center;
    margin: 0 auto;
    max-width: 875px;
    padding: 32px;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;

    .workspace-img{
        background-size: 60px 60px;
        height: 60px;
        width: 60px;
        margin-inline-end: 20px;
        object-fit: cover;
        border-radius: 3px;
    }

    & h2{
        font-size: 1.25em;
        font-weight: 600;
    }
}

.horizontal-rule {
    margin: auto;
    width: 92.5%;
}