@font-face {
    font-family: roboto;
    src: url(../../fonts/RobotoMono-Medium.ttf);
}
@font-face {
    font-family: fira-reg;
    src: url(../../fonts/FiraSans-Regular.ttf);
}
@font-face {
    font-family: fira-semiBold;
    src: url(../../fonts/FiraSans-SemiBold.ttf);
}

:root{
    --base: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
